.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 40px;
  height: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
  background-color: #2a2b30;
  padding: 4px 10px;
  border-radius: 8px;
  gap: 5px;
  width: 450px;
}

.search-container input {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
}

.search-container input:hover {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.sidebar-toggle {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

.info-icons {
  display: inline-flex;
}

@media (min-width: 992px) {
  .sidebar-toggle {
    display: none;
  }
}

@media (max-width: 992px) {
  .info-icons {
    display: none;
  }
}

.app-container {
  margin-top: 60px;
}
