.dashboard-container {
  margin-left: 75px;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

@media (max-width: 992px) {
  .dashboard-container {
    margin-left: 0;
  }

  .sidebar-container.open + .dashboard-container {
    margin-left: 75px;
  }
}

@media (max-width: 768px) {
  .dashboard-container .row > div {
    margin-bottom: 15px;
  }
}
